* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.body{
    font-size: 17px;
    font-family: Arial, sans-serif;
}

/* Header */

.main-header{
    height: 60px;
    width: 100%;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 11px;
    padding-right: 10px;
    justify-content: end;
    font-size: 20px;
}

.main-nav ul li{
    padding: 12px;
}

.main-nav ul li a{
    color: #202124;
}

.main-nav ul li a:hover{
    text-decoration: underline 2px solid black;
}

.main-nav ul li i{
    position: relative;
    display: inline-block;
    font-size: 26px;
}

.main-header .main-nav ul li:last-child i {
    font-size: 35px; 
  }

.main-nav ul li i:hover{
    background-color: lightgray;
    border-radius: 50%;
    padding: 4px;
}

/* Container */

.container{
    width: 0 auto;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .logo{
    margin-bottom: 28px;
    zoom: 125%;
}


/*Search-box */

.search-box{
    border: 1px solid rgba(176, 173, 173, 0.414);
    padding: 22px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 58px;
    margin-bottom: 40px;
    position: relative;
}

.search-box::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -8px;
    border-radius: 50px;
    z-index: -1;
}
  
.search-box:hover {
    box-shadow: 0 0 8px 2px rgba(176, 173, 173, 0.414);
}

.search-input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    font-size: 20px;
    height: 30px;
    padding-left: 15px;
    padding-top: 4px;
    color: #202124;
}

.search-box i{
    padding-left: 3px;
    padding-top: 5px;
    color:rgb(176, 173, 173);
}

.search-box .img{
    display: flex;
    align-items: center;
    justify-content: end;
}

.search-box .img img:nth-of-type(2){
    height: 40px;
    width: 40px;
    margin-left: 16px;
}
.search-box .img img:nth-of-type(1){
    height: 25px;
    width: 20px;
}

/* Boxes */

.boxes{
    margin-bottom: 32px;
}

.boxes ul{
    display: flex;
    align-items: center;
}

.boxes ul li{
    background-color: #f3f5f8d7;
    border-radius: 4px;
    height: 45px;
    width: 190px;
    padding: 12px 23px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 18px;
}

.boxes ul li:nth-of-type(1){
    margin-right: 20px;
}

.boxes ul li:hover{
    border: 1px solid #d1d3d5;
}

/* Content */

.content{
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 19.5px;
    margin-bottom: 27px;
    color: rgba(0, 0, 0, 0.932);
}

.content img{
    zoom: 87%;
    padding-right: 8px;
}

.content a{
    color: #1a0dab;
}

.content a:hover{
    text-decoration: underline 2px solid #1a0dab;
}

/*language-content*/

.lang{
    font-family: Arial;
    font-size: 19.5px;
    color: rgb(101, 99, 99);
    margin-bottom: 170px;
}

.lang p a{
    color: #1a0dab;
    padding: 4px;
}

.lang p a:hover{
    text-decoration: underline 2px solid #1a0dab;
}

/* Footer */


.description {
  height: 60px;
  background: #f2f2f2;
  color: #70757a;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
}

.description p {
  font-size: 20px;
}

.footer-links {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 60px;
  background: #f2f2f2;
}

.footer-links ul {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}

.footer-links ul li {
  padding-right: 18px;
  flex-wrap: wrap;
  font-size: 20px;
  padding-left: 23px;
  padding-top: 18px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.footer-links a {
  color: #70757a;
}

.footer-links a:hover {
  text-decoration: underline 2px solid gray;
}
